body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.4;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: .95rem;
}

.btn {
    border: 0px solid transparent;
}

.row {
    --bs-gutter-x: 0rem;
}

.navbar-light .navbar-toggler {
    transition: 0.3s;
    color: rgba(0,0,0,0);
    border: 0px solid rgb(255, 255, 255);
}

.navbar-toggler:hover {
    transition: 0.1s;
    border:1px solid rgb(211, 211, 211);
}

.skills {
    max-height: 11em; 
    align-items: center;
    transition: transform .2s;
}

.skills:hover {
    transform: scale(1.5);
}

.filter {
    color: rgb(110, 110, 110);
}

.filter:hover {
    color: rgb(53, 53, 53);
    background: rgb(241, 241, 241);
}

.card {
    transition: transform .2s;
    width: 17rem;
}

.card:hover {
    transform: scale(1.2);
}

#mainNavbar {
    padding-top: .0rem;
    padding-bottom: .0rem;
    font-weight: 500;
}

#carouselExampleCaptions, #footer {
    --bs-gutter-x: 0rem;
}

@media (max-width: 768px) {
    .skills {
        max-height: 17.5em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1);
    }

    .card {
        width: 22rem;
    }

    .card:hover {
        transform: scale(1);
    }
}

@media (min-width: 575px) {
    .skills {
        max-height: 13em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .skills {
        max-height: 12em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1.2);
    }

    .card {
        width: 18rem;
    }
}

@media (min-width: 1200px) {
    .skills {
        max-height: 14em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1.2);
    }

    .card {
        width: 12rem;
    }
}

@media (min-width: 1500px) {
    .skills {
        max-height: 14em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1.2);
    }
    
    .card {
        width: 15rem;
    }
}

@media (min-width: 1960px) {
    .skills {
        max-height: 14em; 
        align-items: center;
        transition: transform .2s;
    }

    .skills:hover {
        transform: scale(1.2);
    }

    .card {
        width: 17rem;
    }
}