body {
    font-family: 'Quicksand', sans-serif;
}

.navbar-light .navbar-toggler {
    transition: 0.3s;
    color: rgba(0,0,0,0);
    border:0px solid rgb(255, 255, 255);
}

.navbar-toggler:hover {
    transition: 0.1s;
    border:1px solid rgb(211, 211, 211);
}